* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(40, 40, 40, 0.76);
}

button {
	border-radius: 10;
	border-color: #ebdbb2;
	text-decoration-color: #cdd6f4;
	color: #fbf1c7;
	background-color: rgba(40, 40, 40, 0.76);
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: rgba(55, 55, 55, 0.76);
	outline-style: none;
}

#lock {
    background-image: url("/home/fortvna/.config/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/fortvna/.config/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/fortvna/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/fortvna/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/fortvna/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/fortvna/.config/wlogout/icons/reboot.svg");
}
